body{
    
    background-color: #29c6dcff;
}
#login{
    
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 300px;
    background-color: #29c6dcff;
    border: none;
    
}
#senha{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #29c6dcff;
    border: none;
    
}
.cu{
    color: white;
    background-color: #2b3e42ff;
}
.dvd{
    display: flex;
    justify-content: center;
}
hr{
    color: gray;
}

.logo{
   width:50px;
   height:50px;
   margin-left: 40%;
   padding-top: 80%;
}

.imgLogo{
    width:100px;
    height:100px;
}