html, body{
	width: 100%;
	
	height: 1000px;
	background-color: #29c6dcff!important;
}

main{
	width:100%;
}

.button-body{
	background-color: #414b57ff;
	border: none;
	color: #c3c3c3;
	text-align: center;
	
	padding: 2%;
	width: 100%;
	font-size: 600%;
}

.page2-body{
	background-color: #414b57ff;
	color: #c3c3c3;
	text-align: center;
	width: 100%;
	font-size: 600%;

}

.form-page2-body{
	background-color: #fff0!important;
	color: black;
	text-align: center;
	width: 1000px;
	font-size: 600%;
}

.size-checkbox{
	width: 50px;
	height: 50px;
	margin: 50px!important;
}

.button-margin{
	margin-top: 300px;
}

.btn-signIn{
	float: right;
    margin-top: 15px;
    overflow: auto;
    background-color: #414b57!important;
}

.input-transparent{
	background-color: #fff0!important;
	text-align: left;
	 border-style: none;
}

.page2-span-line{
	border-bottom-style: solid;
	border-color: white;
}


.footer-margin{
	margin-bottom: 30px;
}
.navbar-backcolor{

	background-color:  #29c6dcff;
}

.menu-carona-nome{
	font-size: 80%;
}

.menu-carona-grupo{
	font-size: 50%;
}

.navbar-size{
	font-size: 300%;
}

.span-line{
	border-bottom-style: solid;
	border-color: white;
}

